:root {
  --skyblue: #8EC4DE;
  --light-skyblue: #BAE5F8;
  --Sapphire-blue: #086090;
  --light-Sapphire-blue: #2E85B3;
  --white: #F4F5F8;
  --gray: #DCDFE8;
  --indication-red: #EE6055;
  --indication-yellow: #FFD97D;
  --indication-green: #AAF683;

  --red: #FFADAD;
  --lighten-red: #F4D3D0;
  --yellow: #F9F690;
  --lighten-yellow: #FFFDBA;
  --green: #BBFFAD;
  --lighten-green: #DDFFD6;
  --blue: #9BF6FF;
  --lighten-blue: #C2FBFF;
  --purple: #BDB2FF;
  --lighten-purple: #DCD6FF;

    direction: rtl;
}

@font-face {
    font-family: Rubik-Regular;
    src: url("media/Rubik-font/static/Rubik-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Rubik-Regular;
    src: url("media/Rubik-font/static/Rubik-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: Rubik-Regular;
    src: url("media/Rubik-font/static/Rubik-Light.ttf");
    font-weight: 100;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: auto;
    background-color: var(--white);
    font-family: Rubik-Regular;
    font-weight: 100;
    font-size: 1em;
    line-height: 1.8em;

    background-image: url("./media/graphics/background.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 20%;
    /* background-size: contain; */
    background-position-y: bottom;
}

.bold {
    font-weight: bold;
}

.component-container {
    position: absolute;
    width: 100%;
    /* height: max-content; */
    height: 100%;
    top: 8vh;
    overflow: auto;
    overflow-x: hidden;
}

.top-bar {
    width: 100%;
    height: 8vh;
    background-color: var(--skyblue);
    position: fixed;
}

.top-bar-heading {
    margin: 0%;
    position: absolute;
    line-height: 8vh;
    font-size: 1.2em;
    text-indent: 3vh;
}

.top-bar-btn-container {
    display: flex;
    flex-flow: row-reverse;
}

.top-bar-btn {
    width: 5vh;
    height: 5vh;
    margin: 1.5vh;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.home-btn {
    background-image: url("media/graphics/home.png");
    margin-left: 3vh;
}

.info-btn {
    background-image: url("media/graphics/info.png");
}

.regular-btn {
    height: 3em;
    width: fit-content;
    padding: 0px 30px;
    border-radius: 999em;
    background-color: var(--Sapphire-blue);
    color: var(--white);
    cursor: pointer;
    
    line-height: 5vmin;
    text-align: center;
    font-size: 1em;
    margin: 3%;
}

.regular-btn:hover {
    background-color: var(--light-Sapphire-blue);
}

.regular-btn p {
    margin: 0vh;
}

.page-container {
    padding-bottom: 10vh;
}

.page {
    /* width: 70%; */
    max-width: 1000px;
}

@media only screen and (min-width: 768px) {

    .component-container {
        top: 10vh;
    }
    
    .top-bar {
        height: 10vh;
    }
    
    .top-bar-heading {
        line-height: 10vh;
        font-size: 2em;
    }

    .top-bar-btn {
        width: 7vh;
        height: 7vh;
    }

    .page {
        width: 70%;
    }

    .regular-btn {   
        line-height: 3em;
        font-size: 1.2em;
    }


}